
<nav class="navbar navbar-dark bg-primary navbar-expand-lg sticky-navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/">DJ Boaz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav text-end m-1 mx-auto h5">
            <li class="nav-item"(click)="closeNavbar()">
              <a class="nav-link text-light" href="#about" >אודות</a>
            </li>
            <li class="nav-item" (click)="closeNavbar()">
              <a class="nav-link text-light" href="#music">סרטונים ומוזיקה</a>
            </li>
            <li class="nav-item" (click)="closeNavbar()">          
              <a class="nav-link text-light" href="#contact">צור קשר</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  
