<div class="video-container"></div>

<!-- <div class="col-8">
    
    <div class="video-player">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dsfmD1MI1Js?si=4c2dkDFsKnlxeFU1&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <youtube-player 
         videoId="dsfmD1MI1Js"
         psaceholderImageQuality="standard"></youtube-player>
    </div>
    
    <youtube-player class="video-player" videoId="HigSadiqgIk" psaceholderImageQuality="standard"></youtube-player>
    <youtube-player class="video-player" videoId="dsfmD1MI1Js" psaceholderImageQuality="standard"></youtube-player>
    <youtube-player class="video-player" videoId="HigSadiqgIk" psaceholderImageQuality="standard"></youtube-player>
    <youtube-player class="video-player" videoId="dsfmD1MI1Js" psaceholderImageQuality="standard"></youtube-player>
</div>
 -->
