
<nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">DJ Boaz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav text-end mt-2 mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">אודות</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#music">סרטונים ומוזיקה</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" routerLink="/contact">צור קשר</a> -->
            <a class="nav-link" href="#contact">צור קשר</a>
          </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<footer style="height: 10rem;">
  
</footer>