
.carousel-image {
    height: 500px; /* Adjust the height as needed */
    object-fit: cover; /* This ensures the image covers the area without stretching */
}

@media (max-width: 576px) {
    .carousel-image {
        height: 300px; /* Adjust the height for smaller screens if needed */
    }
}


.paragraph-b{
    font-size: large;
    color: #1C2023;
}
.paragraph-p{
    font-size: large;
    color: #1C2023;
}

.background-b{
    background-color: #B8B6FF;
  
}

.background-p{
    background-color: #E2E4FF;
}

.btn-submit{
    background-color: #23008D;
    color: #E2E4FF;
}
.btn-submit:hover{
    background-color: #B8B6FF;
    color: #1C2023;
}