<div class="container text-center">
    <div class="row row justify-content-center pt-5 pb-5">
        <div class="h2 text-center">
            מיקס אירועים
        </div>
      <div class="col-md-6 col-lg-4 mt-2">
        <app-youtube-player  videoId="dsfmD1MI1Js" ></app-youtube-player>
      </div>
      <div class="col-md-6 col-lg-4 mt-2">
        <app-youtube-player videoId="HigSadiqgIk"></app-youtube-player>
      </div>
      <div class="col-md-6 col-lg-4 mt-2">
        <app-youtube-player videoId="dsfmD1MI1Js"></app-youtube-player>
      </div>
      <div class="h2 text-center mt-5">
        מיקס האוס / טכנו
      </div>
      <div class="col-md-6 col-lg-4 mt-2">
        <app-youtube-player videoId="HigSadiqgIk"></app-youtube-player>
      </div>
      <div class="col-md-6 col-lg-4 mt-2">
        <app-youtube-player videoId="dsfmD1MI1Js"></app-youtube-player>
      </div>
    </div>
  </div>